<h3 class="subtitle">Template driven form</h3>

<!-- TODO 1.4 - pojmenujte instanci formuláře -->
<!-- TODO 1.6 - odešlete formulář -->
<form novalidate #userForm="ngForm" (ngSubmit)="formSubmit(userForm)">

  <label class="label" for="userName">Name</label>
  <div class="control">

    <!--TODO 1.1 - doplňte ngModel - user.name a pojmenujte pole-->
    <!--TODO 1.3 - pojmenujte instanci ngModel-->

    <input class="input" id="userName" type="text"
           required
           [(ngModel)]="user.name" name="name"
           #userNameControl="ngModel"

    />

    <!--TODO 1.5 - podmiňte validační hlášku-->
    <!--TODO 1.5.1 - upravte podmínky pro zobrazení hlášky-->
    <span class="help is-danger"
          *ngIf="userNameControl.errors?.required && (userNameControl.touched || userForm.submitted)">
      Name is required
    </span>

  </div>

  <!--TODO 1.3.1 - použijte ladící pomůcku-->
  <!--<app-form-metadata-viewer [control]="userNameControl"></app-form-metadata-viewer>-->

  <label class="label" for="userSurname">Surname</label>
  <div class="control">

    <!--TODO 1.2 - doplňte ngModel - user.surname-->
    <!--TODO 1.5.2 - pojmenujte instanci ngModel-->
    <input class="input" id="userSurname" type="text" name="surname"
           required
           [(ngModel)]="user.surname" name="surname"
           #userSurnameControl="ngModel"

    />
    <!--TODO 1.5.2 - použijte komponentu pro validace-->

    <app-form-model-errors [control]="userSurnameControl"></app-form-model-errors>

  </div>

  <label class="label" >Phones</label>

  <div class="box">
    <div [ngModelGroup]="'contact-' + i"
         *ngFor="let contact of user.contacts; let i=index">

      <div class="control has-addons">

        <input class="input is-expanded" type="text" name="phone"
               [(ngModel)]="contact.phone" name="phone-{{i}}" id="phone-{{i}}"
               #userPhoneControl="ngModel"
               minlength="9"
        />

        <a class="button" (click)="removeAddress(i)">
          X
        </a>
      </div>

      <app-form-model-errors [control]="userPhoneControl"></app-form-model-errors>

    </div>

    <a (click)="addAddress()">Add contact</a>

  </div>

  <div class="control buttons">
    <button class="button is-primary" type="submit">Submit</button>
  </div>

  <!--TODO 1.4.1 - odkomentujte ladící pomůcku-->
  <!--<app-form-metadata-viewer [control]="userForm"></app-form-metadata-viewer>-->
</form>


